.hero {
    padding-bottom: 180px;
    padding-top: 200px;
    overflow-x: hidden;    
    &-container {
        @include flex(center, space-between);        
        gap: 0 40px;
        position: relative;
    }
    &-content {
        width: 100%;
        max-width: 555px;
    }

    &-heading {
        font-size: 70px;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 1.4;
        color: $txt-dark-blue;
    }
    &-desc {
        margin-bottom: 50px;
        line-height: 2;
        font-size: 20px;
    }
}
@media screen and (min-width: 1280px) {
    .hero-image {
        position: absolute;
        top: 50%;
        transform: translate(35%, -50%);
        right: 0;
    }
}

@media screen and (max-width: 1023px) {
    .hero-heading {
        font-size: 30px;
    }
    .hero-desc {
        font-size: 15px;
    }
    .hero {
        padding-bottom: 150px;
    }
}
@media screen and (max-width: 767px) {
    .hero {
        padding-top: 105px;
    }
    .hero-container {
        flex-direction: column-reverse;
        gap: 50px 0;
        align-items: flex-start;
    }
    .hero-desc {
        margin-bottom: 25px;
    }
    .hero-content {
        max-width: 100%;
        text-align: center;
    }
}
