$font: 'Poppins', sans-serif;


$text-color: #4f5665;
$heading-color: #0b132a;
$primary-color: #f53838;
$gray-color: #dde0e4;
$gray-light-color: #f8f8f8;
$gray-lighter-color: #ddd;


$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);

$txt-dark-blue: hsl(255, 11%, 22%);
$txt-dark-violet: hsl(260, 8%, 14%);
$cyan: hsl(180, 66%, 49%);

$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);

$tablet-width: 767px;
